/*html {*/
/*    scroll-behavior: smooth;*/
/*}*/
body {
    background-color: #1a1b1e;
    color: white;
    flex-direction: column;
    font-family: "Fira Sans Light", serif;
    font-size: 22px;
}
header {
    height: 50px;
    background-color: darkgrey;
}
footer {
    height: 50px;
    background-color: darkgrey;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: saturate(85%);
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
}
li {
    padding-bottom: 15px;
    text-align: justify;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 1.1px;
}
p {
    text-align: justify;
    padding-bottom: 8px;
    line-height: 35px;
    letter-spacing: 1.1px;
}
h1 {
    color: white;
    font-family: "Fira Sans Regular";
    text-align: left;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 1.5px;
}
h2 {
    color: white;
    font-family: "Fira Sans Semibold";
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 3px;
    text-align: left;
    line-height: 45px;
    letter-spacing: 1.5px;
}
h3 {
    color: white;
    font-family: "Fira Sans SemiBold";
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 3px;
}
hr {
    border-top: 1px solid #3d3b3b;
}
aside {
    color: #6e6e6e;
}
.code {
    color: #e2c6e2;
    background-color: #473847;
    text-align: justify;
}
.light {
    background-color: #474a1e;
}

/*Sidebar*/
.sidebar {
    margin-left: 15%;
    position: sticky;
    font-size: 19px;
    top: 50px;
    line-height: 40px;
    margin-top: 187px;
}

/*Sidebar Hyperlink*/
a.hyper2:link, a.hyper:active {
    color: #767678;
    text-decoration: none;
}
a.hyper2:hover {
    border-bottom: 2px solid #6e6e6e;
}
a.hyper2:visited {
    color: #767678;
    text-decoration: none;
}

/*Hyperlink*/
a:link, a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
}

/*Layout*/
@media only screen and (min-width: 992px) {
    .container {
        display: flex;
    }
}

.container div {
    padding: 10px;

}
.left {
    flex: 1;
    order: 1;
    text-align: left;
}
.main {
    flex: 2.5;
    order: 2;
}
.right {
    flex: 1;
    order: 3;
}

/*Media Queries*/
@media only screen and (max-width: 992px) {
    .right, .left {
        display: none;
    }
    li, p {
        text-align: left;
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 5px;
    }
    h2{
        font-size: 40px;
        padding-bottom: 5px;
        padding-top: 10px;
    }
    h3 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .code, .wrap {
        word-wrap: break-word;
        text-align: left
    }
}

@media only screen and (max-width: 360px) {
    li, p {
     font-size: 15px;
    }
}

@media only screen and (min-width: 992px) {
    .right, .left {
        flex: 1;
    }

    .main {
        flex: 3;
    }
}